<div class="projetos">
    <div class="title">
        Front-End
    </div>
    <div class="area">
        <div class="projeto">
            <div>
                Framework
            </div>
            <div>
                Angular
            </div>
            <div>
                Linguagem
            </div>
            <div>
                Javascript/Typescript
            </div>
            <div>
                Site
            </div>
            <div>
                Link Site
            </div>
            <div>
                GitHub
            </div>
            <div>
                Link GitHub
            </div>
        </div>
        <div class="projeto">
            <div>
                Biblioteca
            </div>
            <div>
                React
            </div>
            <div>
                Linguagem
            </div>
            <div>
                Javascript
            </div>
            <div>
                Site
            </div>
            <div>
                Link Site
            </div>
            <div>
                GitHub
            </div>
            <div>
                Link GitHub
            </div>
        </div>
    </div>
    <div class="title">
        Back-End
    </div>
    <div class="area">
        <div class="projeto">
            <div>
                Framework
            </div>
            <div>
                Spring
            </div>
            <div>
                Linguagem
            </div>
            <div>
                Java
            </div>
            <div>
                Arquitetura
            </div>
            <div>
                Monolítica
            </div>
            <div>
                Site
            </div>
            <div>
                Link Site
            </div>
            <div>
                GitHub
            </div>
            <div>
                Link GitHub
            </div>
        </div>
        <div class="projeto">
            <div>
                Framework
            </div>
            <div>
                Spring
            </div>
            <div>
                Linguagem
            </div>
            <div>
                Java
            </div>
            <div>
                Arquitetura
            </div>
            <div>
                Microsserviços
            </div>
            <div>
                Site
            </div>
            <div>
                Link Site
            </div>
            <div>
                GitHub
            </div>
            <div>
                Link GitHub
            </div>
        </div>
    </div>
 
    <div class="title">
        Mobile
    </div>

    <div class="area">
        <div class="projeto">
            <div>
                Framework
            </div>
            <div>
                Android
            </div>
            <div>
                Linguagem
            </div>
            <div>
                Kotlin
            </div>
            <div>
                GitHub
            </div>
            <div>
                Link GitHub
            </div>
        </div>
        <div class="projeto">
        <div>
            Framework
        </div>
        <div>
            Ionic
        </div>
        <div>
            Linguagem
        </div>
        <div>
            Typescript
        </div>
        <div>
            GitHub
        </div>
        <div>
            Link GitHub
        </div>
    </div>  
    </div>

    <div class="title">
        Desktop
    </div>

    <div class="area">
        <div class="projeto">

            <div>
                Biblioteca
            </div>
            <div>
                Swing/Java Fx
            </div>
            <div>
                Linguagem
            </div>
            <div>
                Java
            </div>
            <div>
                Download
            </div>
            <div>
                Download Projeto
            </div>
            <div>
                GitHub
            </div>
            <div>
                Link GitHub
            </div>
        </div>
    </div>

       <!-- <div class="projeto">
        <div class="title">
            Data Science
        </div>
    </div>
    <div class="projeto">
        <div class="title">
            Inteligência Artificial
        </div>
    </div> -->
    <span class="margin"></span>
</div>
<app-footer></app-footer>