<div class="projetos">
    <div class="title">
        Front-End
    </div>
    <div class="area">
        <div class="projeto">
            <div class="card">
                <div class="rows">
                    <div>
                        Framework:
                    </div>
                    <div>
                        Angular
                    </div>
                </div>
                <div class="rows">
                    <div>
                        Linguagem:
                    </div>
                    <div>
                        Typescript
                    </div>
                </div>
                <br>
                <div class="rows">
                    <div>
                        Site:
                    </div>
                    <a href="https://pizzaamore.netlify.app/">
                        Ver Site
                    </a>
                </div>
                <br>
                <div class="rows">
                    <div>
                        GitHub:
                    </div>
                    <a href="https://github.com/GabrielBRS/pizzaamore">
                        Acessar repositório no GitHub
                    </a>
                </div>
            </div>
        </div>
        <div class="projeto">
            <div class="card">
                <div class="rows">
                    <div>
                        Biblioteca:
                    </div>
                    <div>
                        React
                    </div>
                </div>
                <div class="rows">
                    <div>
                        Linguagem:
                    </div>
                    <div>
                        Javascript
                    </div>
                </div>
                <br>
                <div class="rows">
                    <div>
                        Site:
                    </div>
                    <a href="https://gabrieldevwiki.netlify.app/">
                        Ver Site
                    </a>
                </div>
                <br>
                <div class="rows">
                    <div>
                        GitHub:
                    </div>
                    <a href="https://github.com/GabrielBRS/dev-wiki">
                        Acessar repositório no GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="title">
        Back-End
    </div>
    <div class="area">
        <div class="projeto">
           <div class="card">
                <div class="rows">
                    <div>
                        Framework:
                    </div>
                    <div>
                        Spring
                    </div>
                </div>
                <div class="rows">
                    <div>
                        Linguagem:
                    </div>
                    <div>
                        Java
                    </div>
                </div>
                <div class="rows">
                    <div>
                        Arquitetura:
                    </div>
                    <div>
                        Monolítica
                    </div>
                </div>
                <br>
                <div class="rows">
                    <div>
                        GitHub:
                    </div>
                    <a href="https://github.com/GabrielBRS/pizza-amore_backend_springboot">
                        Acessar repositório no GitHub
                    </a>
                </div>
           </div>
        </div>
        <div class="projeto">
            <div class="card">
                <div class="rows">
                    <div>
                        Framework:
                    </div>
                    <div>
                        Spring
                    </div>
                </div>
                <div class="rows">
                    <div>
                        Linguagem:
                    </div>
                    <div>
                        Java
                    </div>
                </div>
                <div class="rows">
                    <div>
                        Arquitetura:
                    </div>
                    <div>
                        Microsserviços
                    </div>
                </div>
                <br>
                <a href="https://github.com/GabrielBRS/ecommerce_model-microservice-">
                    Acessar repositório no GitHub
                </a>
            </div>
        </div>
    </div>
 
    <div class="title">
        Aplicativos Móveis
    </div>

    <div class="area">
        <div class="projeto">
            <div class="card">
                <div class="rows">
                    <div>
                        Framework:
                    </div>
                    <div>
                        Android
                    </div>
                </div>
                <div class="rows">
                    <div>
                        Linguagem:
                    </div>
                    <div>
                        Kotlin
                    </div>
                </div>
                <div class="rows">
                    <div>
                        Arquitetura:
                    </div>
                    <div>
                        MVVM
                    </div>
                </div>
               <br>
                <a href="https://github.com/GabrielBRS/app-mobile-teste">
                    Acessar repositório no GitHub
                </a>
            </div>
        </div>
        <div class="projeto">
        <div class="card">
            <div class="rows">
                <div>
                    Framework:
                </div>
                <div>
                    Ionic
                </div>
            </div>
            <div class="rows">
                <div>
                    Linguagem:
                </div>
                <div>
                    Typescript
                </div>
            </div>
            <div class="rows">
                <div>
                    Arquitetura:
                </div>
                <div>
                    MVVM
                </div>
            </div>
            <br>
            <a href="https://github.com/GabrielBRS/app-mobile-ionic-teste">
                Acessar repositório no GitHub
            </a>
        </div>
    </div>  
    </div>

    <div class="title">
        Desktop
    </div>

    <div class="area">
        <div class="projeto">

            <div class="card">
                <div class="rows">
                    <div>
                        Biblioteca:
                    </div>
                    <div>
                        Swing/Java Fx
                    </div>
                </div>
                <div class="rows">
                    <div>
                        Linguagem:
                    </div>
                    <div>
                        Java
                    </div>
                </div>
                <br>
                <a href="https://github.com/GabrielBRS/desktop-java-fx">
                    Acessar repositório no GitHub
                </a>
                <br>
                <div>
                    Download Projeto
                </div>
            </div>
        </div>
    </div>

       <!-- <div class="projeto">
        <div class="title">
            Data Science
        </div>
    </div>
    <div class="projeto">
        <div class="title">
            Inteligência Artificial
        </div>
    </div> -->
    <span class="margin"></span>
</div>
<app-footer></app-footer>