<div class="nav-bar">
    <div class="division-one">
        <div class="buttom" routerLink="/" routerLinkActive="active">
            <p>Dev Gabriel Sousa</p>
        </div>
    </div>
    <div class="division-second">
        <div class="buttom" routerLink="/dev-wiki" routerLinkActive="active">
            <p>Dev Wiki</p>
        </div>
        <div class="buttom" routerLink="/concurso" routerLinkActive="active">
            <p>Concurso</p>
        </div>
        <div class="buttom" routerLink="/projetos" routerLinkActive="active">
            <p>Projetos</p>
        </div>
        <div class="buttom" routerLink="/aulas" routerLinkActive="active">
            <p>Aulas</p>
        </div>
        <div class="buttom" routerLink="/consultoria" routerLinkActive="active">
            <p>Consultoria</p>
        </div>
    </div>
</div>
