<div class="nav-bar">
    <div class="division-one">
        <a class="buttom" routerLink="/" routerLinkActive="active">
            Gabriel Sousa - Engenheiro de Software
        </a>
    </div>
    <div class="division-second">
        <a class="buttom" routerLink="/projetos" routerLinkActive="active">
            Projetos
        </a>
        <a class="buttom" routerLink="/aulas" routerLinkActive="active">
            Aulas
        </a>
        <a class="buttom" style="width: 15%;" routerLink="/pericia-judicial" routerLinkActive="active">
            Perícia Judicial
        </a>
        <a class="buttom" routerLink="/contato" routerLinkActive="active">
            Contato
        </a>
    </div>
</div>
