/* You can add global styles to this file, and also import other style files */


html{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-image: linear-gradient(180deg,#191e29, #191e29);


    body{
        margin: 0px;
        display: flex;
        flex-direction: column;
        // height: 100%;
        // width: 100%;

    }
    
}
