<div class="home">
    <div class="title">
        Profile
    </div>
    <div class="profile">
        <div class="resume">
            Sou bacharel em Engenharia de Software pela Universidade Cruzeiro do Sul, 
            com mais de 5 anos de experiência no desenvolvimento de software. Tenho 
            expertise em front-end utilizando Angular e React, back-end com Spring Boot em 
            Java e uma experiência introdutória com C# e ASP.NET Core. Atualmente, foco no 
            desenvolvimento mobile para Android, especializando-me em Kotlin.
            Possuo um profundo interesse em áreas complementares, incluindo 
            Governança de TI (COBIT, ITIL, ISO), Segurança da Informação e Inteligência 
            Artificial. Além de possuir uma pós-graduação em Inteligência Artificial, estou 
            atualmente em processo de certificação profissional nas áreas de: Java, Banco de 
            Dados Oracle, ITIL e ISO.
        </div>
    </div>
    <div class="title">
        Experiência Profissional
    </div>
    <div class="profile">
        <ul>
            <li>
                Atuei no Banco Regional de Brasília no projeto BRB Card
            </li>
            <li>
                Atuei no ERP comercial de redes de supermercados varejistas
            </li>
            <li>
                Atuei no Banco Regional de Brasília no projeto BRB Card
            </li>
            <li>
                Construção de servidores web em Java
            </li>
            <li>
                Construção de sites web em Angular e React
            </li>
        </ul>

        <br>
        <br>

        <div class="area-experiencia">

            <div>
                <div>
                    Desenvolvimento Full Stack, Freelance, Distrito Federal
                </div>
                <div>
                   Janeiro de 2023 – Maio de 2024
                 </div>
               <div>
                   <ul>
                       <li>
                           Front-End: Angular em TypeScript
                       </li>
                       <li>
                           Back-End: Spring Boot em Java
                       </li>
                       <li>
                           Banco de Dados: Postgreslq
                       </li>
                   </ul>
               </div>
               <div>
                   Resumo: No Pizza Amore eu trabalhei com desenvolvimento Full Stack em
                   angular e spring, criando o site das pizzas, e o servidor de pagamentos, envio
                   de emails.                                           
               </div>
             </div>
               
        
               <br>
               <br>
        
               <div>
                 <div>
                    Desenvolvimento Full Stack, Pizza Amore, Distrito Federal, Integral
                 </div>
                 <div>
                    Janeiro de 2023 – Maio de 2024
                  </div>
                <div>
                    <ul>
                        <li>
                            Front-End: Angular em TypeScript
                        </li>
                        <li>
                            Back-End: Spring Boot em Java
                        </li>
                        <li>
                            Banco de Dados: Postgreslq
                        </li>
                    </ul>
                </div>
                <div>
                    Resumo: No Pizza Amore eu trabalhei com desenvolvimento Full Stack em
                    angular e spring, criando o site das pizzas, e o servidor de pagamentos, envio
                    de emails.                                           
                </div>
              </div>
        
              <br>
              <br>
        
              <div>
                 <div>
                    Desenvolvimento Full Stack, GB Technologia, Distrito Federal, Integral
                 </div>
                 <div>
                    Junho de 2022 – Dezembro de 2023
                  </div>
                <div>
                    <ul>
                        <li>
                            Front-End: Angular em TypeScript
                        </li>
                        <li>
                            Back-End: Spring Boot em Java
                        </li>
                        <li>
                            Banco de Dados: Postgreslq
                        </li>
                    </ul>
                </div>
                <div>
                    Resumo: Na empresa GB Tecnologia eu trabalhei com desenvolvimento Full
                    Stack em angular e spring, criando sites de pagamentos, lojas comerciais,
                    sites pessoais e blogs.                                 
                </div>
              </div>
        
              <br>
              <br>
        
              <div>
                <div>
                    Desenvolvimento Full Stack, Vicax Soluções Tecnologia, Distrito Federal, Integral
                </div>
                <div>
                    Novembro de 2021 – Maio de 2022
                 </div>
               <div>
                   <ul>
                    <li>
                        Front-End: Angular em TypeScript
                    </li>
                    <li>
                        Front-End: React em TypeScript
                    </li>
                    <li>
                        Back-End: Spring Boot em Java
                    </li>
                   </ul>
               </div>
               <div>
                    Resumo: Na Vicax eu trabalhei no projeto VSet que cuidava dos pagamentos 
                    do BRB Card e ele foi desenvolvido na linguagem Java. Também trabalhei no 
                    ERP comercial da empresa Lumi Software e Vicax Soluções Tecnológicas em 
                    Angular. Também trabalhei no projeto Ganko desenvolvido em Angular. 
                    Também trabalhei no projeto VSet Doc em React.                                             
               </div>
             </div>
        
        
              <br>
              <br>
        
              <div>
                <div>
                    Desenvolvimento Full Stack, Freelance, Distrito Federal, Integral
                </div>
                <div>
                    Janeiro de 2019 – Outubro de 2021
                </div>
                <div>
                    <ul>
                        <li>
                            Front-End: Angular em TypeScript
                        </li>
                        <li>
                            Back-End: Spring Boot em Java
                        </li>
                        <li>
                            Banco de Dados: Postgreslq
                        </li>
                    </ul>
                </div>
                <div>
                    Resumo: Como freelance eu desenvolvi vários projetos sendo eles feitos 
                    em Spring e Angular, que foram sites de lojas, blogs, sites pessoais.            
                </div>
              </div>
        
              <br>
              <br>


        </div>


    </div>
    <div class="title">
        Acadêmico
    </div>
    <div class="profile">
        Acadêmico
    </div>
    <div class="title">
        Certificações
    </div>
    <div class="profile">
        <div>
            Java
        </div>
        <ul>
            <li>
                Java Foundations
            </li>
        </ul>
    </div>
    <div class="title">
        Projetos
    </div>
    <div class="profile">
        <div>
            Desenvolvi projetos em Java, Angular, React
        </div>
        <a routerLink="projetos" target="_top">Ver projetos</a>
    </div>
</div>
<app-footer></app-footer>