<div class="home">
    <div class="title">
        Profile
    </div>
    <div class="profile">
        <div class="resume">
            Bacharel em Engenharia de Software pela Universidade Cruzeiro do Sul, possuo mais de 5 anos de experiência em desenvolvimento de software, com registro ativo no CREA-DF. Minha trajetória inclui contribuições significativas em projetos de alta relevância, como o BRB Card no Banco Regional de Brasília e o desenvolvimento de um ERP comercial para redes de supermercados varejistas. Sou especialista na construção de servidores web em Java e no desenvolvimento de aplicações front-end utilizando Angular e React, garantindo soluções tecnológicas robustas e inovadoras. Estou preparado para impulsionar projetos desafiadores e agregar valor em ambientes dinâmicos.
        </div>
    </div>
    <div class="title">
        Experiência Profissional
    </div>
    <div class="profile">

        <div class="area-experiencia">

            <div>
                <div>
                    Desenvolvedor Full Stack
                </div>
                <div>
                    Autônomo, Distrito Federal
                </div>
                <div>
                   Junho de 2024 – Presente
                 </div>
               <div>
                   <ul>
                       <li>
                           Front-End: Angular (TypeScript)
                       </li>
                       <li>
                           Back-End: Spring Boot (Java)
                       </li>
                       <li>
                           Banco de Dados: Oracle DB
                       </li>
                       <li>
                           Mobile: Ionic
                       </li>
                   </ul>
               </div>
               <div>
                   Resumo: Atualmente, atuo como desenvolvedor Full Stack, focando em projetos com Angular e Spring Boot, além de expandir minhas habilidades no desenvolvimento mobile com Ionic, entregando soluções eficazes e inovadoras.                                           
               </div>
             </div>
               
        
               <br>
               <br>
        
               <div>
                 <div>
                    Desenvolvedor Full Stack
                 </div>
                 <div>
                    Pizza Amore, Distrito Federal
                 </div>
                 <div>
                    Janeiro de 2023 – Maio de 2024
                  </div>
                <div>
                    <ul>
                        <li>
                            Front-End: Angular (TypeScript)
                        </li>
                        <li>
                            Back-End: Spring Boot (Java)
                        </li>
                        <li>
                            Banco de Dados: PostgreSQL
                        </li>
                    </ul>
                </div>
                <div>
                    Resumo: Na Pizza Amore, atuei como desenvolvedor Full Stack, projetando e implementando o site da pizzaria, além de desenvolver o servidor de pagamentos e a funcionalidade de envio de e-mails, garantindo uma experiência fluida para os usuários.                                           
                </div>
              </div>
        
              <br>
              <br>
        
              <div>
                 <div>
                    Desenvolvedor Full Stack
                 </div>
                 <div>
                    GB Technologia, Distrito Federal
                 </div>
                 <div>
                    Junho de 2022 – Dezembro de 2023
                  </div>
                <div>
                    <ul>
                        <li>
                            Front-End: Angular (TypeScript)
                        </li>
                        <li>
                            Back-End: Spring Boot (Java)
                        </li>
                        <li>
                            Banco de Dados: PostgreSQL
                        </li>
                    </ul>
                </div>
                <div>
                    Resumo: Na GB Tecnologia, atuei como desenvolvedor Full Stack, contribuindo para a criação de soluções como sites de pagamentos, lojas online, sites pessoais e blogs, utilizando tecnologias modernas para garantir uma experiência de usuário excepcional.                               
                </div>
              </div>
        
              <br>
              <br>
        
              <div>
                <div>
                    Desenvolvedor Full Stack 
                </div>
                <div>
                    Vicax Soluções Tecnologia, Distrito Federal
                </div>
                <div>
                    Novembro de 2021 – Maio de 2022
                 </div>
               <div>
                   <ul>
                    <li>
                        Front-End: Angular (TypeScript) e React (JavaScript)
                    </li>
                    <li>
                        Back-End: Spring Boot (Java)
                    </li>
                   </ul>
               </div>
               <div>
                    Resumo: Contribuí para o projeto VSet, que gerenciava pagamentos do BRB Card, utilizando Java no back-end. Também desenvolvi o ERP comercial da Lucax e trabalhei em diversos projetos em Angular para construir o Ganko e VSet Doc em React.                                            
               </div>
             </div>
        
        
              <br>
              <br>
        
              <div>
                <div>
                    Desenvolvedor Full Stack
                </div>
                <div>
                    Freelance, Distrito Federal
                </div>
                <div>
                    Janeiro de 2019 – Outubro de 2021
                </div>
                <div>
                    <ul>
                        <li>
                            Front-End: Angular (TypeScript)
                        </li>
                        <li>
                            Back-End: Spring Boot (Java)
                        </li>
                        <li>
                            Banco de Dados: PostgreSQL e MySql
                        </li>
                    </ul>
                </div>
                <div>
                    Resumo: Desenvolvi diversos projetos como freelancer, incluindo sites de e-commerce, blogs e sites pessoais, utilizando Spring Boot e Angular para garantir soluções robustas e eficientes.            
                </div>
              </div>
        
              <br>
              <br>


        </div>


    </div>
    <div class="title">
        Acadêmico
    </div>
    <div class="profile">
        Acadêmico
    </div>
    <div class="title">
        Certificações
    </div>
    <div class="profile">
        <div>
            Java
        </div>
        <ul>
            <li>
                Java Foundations
            </li>
        </ul>
    </div>
    <div class="title">
        Projetos
    </div>
    <div class="profile">
        <div>
            Desenvolvi projetos em Java, Angular, React
        </div>
        <a routerLink="projetos" target="_top">Ver projetos</a>
    </div>
</div>
<app-footer></app-footer>